@model TopMenuModel

@await Component.InvokeAsync("Widget", new { widgetZone = "header_menu_before" })

<nav>
    <div class="container">
        <div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 hidden-xs nav-icon">
                <div class="mega-container visible-lg visible-md visible-sm">
                    <div class="navleft-container">
                        <div class="mega-menu-title">
                            <h3><i class="fa fa-navicon"></i> All Categories</h3>
                        </div>
                        <div class="mega-menu-category">
                            <ul class="nav">
                                @if (Model.DisplayHomePageMenuItem)
                                {
                                    <li class="nosub" id="nav-home">
                                        <a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a>
                                        @*<div class="wrap-popup column1">
                                            <div class="popup">
                                                <ul class="nav">
                                                    <li><a href="index.html">Home Version 1</a></li>
                                                    <li><a href="../home2/index.html">Home Version 2</a></li>
                                                </ul>
                                            </div>
                                        </div>*@
                                    </li>
                                }
                                @{
                                    var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
                                }
                                @foreach (var category in rootCategories)
                                {
                                    var categoryLineModel = new TopMenuModel.CategoryLineModel
                                    {
                                        Category = category
                                    };
                                    @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
                                }
                                @*<li>
                                    <a href="#"><i class="fa fa-file-text"></i> Page</a>
                                    <div class="wrap-popup">
                                        <div class="popup">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <ul class="nav">
                                                        <li><a href="grid.html"><span>Grid</span></a> </li>
                                                        <li> <a href="list.html"> <span>List</span> </a> </li>
                                                        <li> <a href="product_detail.html"> <span>Product Detail</span> </a> </li>
                                                        <li> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                                                        <li><a href="checkout.html"><span>Checkout</span></a> </li>
                                                        <li> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-6 has-sep">
                                                    <ul class="nav">
                                                        <li> <a href="dashboard.html"> <span>Dashboard</span> </a> </li>
                                                        <li> <a href="multiple_addresses.html"> <span>Multiple Addresses</span> </a> </li>
                                                        <li><a href="compare.html"><span>Compare</span></a> </li>
                                                        <li><a href="quick_view.html"><span>Quick View</span></a> </li>
                                                        <li><a href="newsletter.html"><span>Newsletter</span></a> </li>
                                                        <li><a href="404error.html"><span>404 Error Page</span></a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-mobile-phone"></i> Mobiles</a>
                                    <div class="wrap-popup">
                                        <div class="popup">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-6">
                                                    <a href="#">
                                                        <h3>Samsung</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Smartphones</span></a> </li>
                                                        <li> <a href="grid.html"><span>Android Mobiles</span></a> </li>
                                                        <li> <a href="grid.html"><span>Tablets</span></a> </li>
                                                        <li> <a href="grid.html"><span>Wearable Mobiles</span></a> </li>
                                                    </ul>
                                                    <br>
                                                    <a href="#">
                                                        <h3>Nokia</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Windows Mobiles</span></a> </li>
                                                        <li> <a href="grid.html"><span>Landline Phone</span></a> </li>
                                                        <li> <a href="grid.html"><span>Ipad</span></a> </li>
                                                        <li> <a href="grid.html"><span>Refurbished</span></a> </li>
                                                    </ul>
                                                    <br>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <a href="#">
                                                        <h3>iPhone</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Apple 7S</span></a> </li>
                                                        <li> <a href="grid.html"><span>Apple 5 Series </span></a> </li>
                                                        <li> <a href="grid.html"><span>Apple 6S</span></a> </li>
                                                        <li> <a href="grid.html"><span>Apple 4R</span></a> </li>
                                                    </ul>
                                                    <br>
                                                    <a href="#">
                                                        <h3>Sony</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Xperia</span></a> </li>
                                                        <li> <a href="grid.html"><span>Ultra Dual</span></a> </li>
                                                        <li> <a href="grid.html"><span>X Performance</span></a> </li>
                                                        <li> <a href="grid.html"><span>Premium Compact Z5</span></a> </li>
                                                    </ul>
                                                    <br>
                                                </div>
                                                <div class="col-md-4 has-sep hidden-sm">
                                                    <div class="custom-menu-right">
                                                        <div class="box-banner media">
                                                            <div class="add-right"><a href="#"><img alt="menu image" src="~/Themes/Vitara/Content/images/menu-img1.jpg"></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <p><a class="ads" href="#"><img class="img-responsive" alt="bottom image" src="~/Themes/Vitara/Content/images/menu-img4.jpg"></a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i> Accesories</a>
                                    <div class="wrap-popup">
                                        <div class="popup">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-6">
                                                    <a href="#">
                                                        <h3>Mobile Memory</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Volatile Memory</span></a> </li>
                                                        <li> <a href="grid.html"><span>Non-Volatile Memory</span></a> </li>
                                                        <li> <a href="grid.html"><span>MicroSD</span></a> </li>
                                                        <li> <a href="grid.html"><span> Mini SD Memory</span></a> </li>
                                                    </ul>
                                                    <br>
                                                    <a href="#">
                                                        <h3>Cases &amp; covers</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Transparent Silicone</span></a> </li>
                                                        <li> <a href="grid.html"><span>Plastic Back Cover</span></a> </li>
                                                        <li> <a href="grid.html"><span>Rugged Cases</span></a> </li>
                                                        <li> <a href="grid.html"><span>Hybrid Back Cover</span></a> </li>
                                                    </ul>
                                                    <br>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <a href="#">
                                                        <h3>Mobile Headphones</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Jack Headsfree</span></a> </li>
                                                        <li> <a href="grid.html"><span>Premuim Quality</span></a> </li>
                                                        <li> <a href="grid.html"><span>Infographic</span></a> </li>
                                                        <li> <a href="grid.html"><span>Cushioned Earcups</span></a> </li>
                                                    </ul>
                                                    <br>
                                                    <a href="#">
                                                        <h3>Bluetooth Headsets</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Plantronics BackBeat</span></a> </li>
                                                        <li> <a href="grid.html"><span>Air-Fi Runaway</span></a> </li>
                                                        <li> <a href="grid.html"><span>Jabra Motion</span></a> </li>
                                                        <li> <a href="grid.html"><span>Jawbone Era</span></a> </li>
                                                    </ul>
                                                    <br>
                                                </div>
                                                <div class="col-md-4 has-sep hidden-sm">
                                                    <div class="custom-menu-right">
                                                        <div class="box-banner media">
                                                            <div class="add-desc">
                                                                <h3>
                                                                    Headset<br>
                                                                    collection
                                                                </h3>
                                                                <div class="price-sale">2018</div>
                                                                <a href="#">Shopping Now</a>
                                                            </div>
                                                            <div class="add-right"><img alt="menu image" src="~/Themes/Vitara/Content/images/menu-img2.jpg"></div>
                                                        </div>
                                                        <div class="box-banner media">
                                                            <div class="add-desc">
                                                                <h3>Save up to</h3>
                                                                <div class="price-sale">70 <sup>%</sup><sub>off</sub></div>
                                                                <a href="#">Shopping Now</a>
                                                            </div>
                                                            <div class="add-right"><img alt="menu image" src="~/Themes/Vitara/Content/images/menu-img3.jpg"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nosub"> <a href="#"><i class="fa fa-cutlery"></i> Appliances</a> </li>
                                <li>
                                    <a href="#"><i class="fa fa-camera"></i> Cameras</a>
                                    <div class="wrap-popup">
                                        <div class="popup">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-6">
                                                    <a href="#">
                                                        <h3>Camcorders</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Flash Memory</span></a> </li>
                                                        <li> <a href="grid.html"><span>Filmmaking</span></a> </li>
                                                        <li> <a href="grid.html"><span>Combo Models</span></a> </li>
                                                        <li> <a href="grid.html"><span>Mini-DV Camcorders</span></a> </li>
                                                    </ul>
                                                    <br>
                                                    <a href="#">
                                                        <h3>Point &amp; Shoot</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Bridge Compact</span></a> </li>
                                                        <li> <a href="grid.html"><span>Nikon CoolPix</span></a> </li>
                                                        <li> <a href="grid.html"><span>Sony Alpha</span></a> </li>
                                                        <li> <a href="grid.html"><span>Canon Digital</span></a> </li>
                                                    </ul>
                                                    <br>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <a href="#">
                                                        <h3>Digital SLR</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Nikon D810</span></a> </li>
                                                        <li> <a href="grid.html"><span>Canon EOS</span></a> </li>
                                                        <li> <a href="grid.html"><span>Cropped Sensor</span></a> </li>
                                                        <li> <a href="grid.html"><span>Full-Frame Sensor</span></a> </li>
                                                    </ul>
                                                    <br>
                                                    <a href="#">
                                                        <h3>Lens</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Photochromic</span></a> </li>
                                                        <li> <a href="grid.html"><span>Polarized Sunglasses</span></a> </li>
                                                        <li> <a href="grid.html"><span>Polycarbonate</span></a> </li>
                                                        <li> <a href="grid.html"><span>Aspheric</span></a> </li>
                                                    </ul>
                                                    <br>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <a href="#">
                                                        <h3>Projectors</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>LCD Projection</span></a> </li>
                                                        <li> <a href="grid.html"><span>Laser Projector</span></a> </li>
                                                        <li> <a href="grid.html"><span>Digital</span></a> </li>
                                                        <li> <a href="grid.html"><span>Portable</span></a> </li>
                                                    </ul>
                                                    <br>
                                                    <a href="#">
                                                        <h3>Binoculars</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Roof Prism</span></a> </li>
                                                        <li> <a href="grid.html"><span>Porro Prism</span></a> </li>
                                                        <li> <a href="grid.html"><span>Astronomical Binoculars</span></a> </li>
                                                        <li> <a href="grid.html"><span>Celestron SkyMaster</span></a> </li>
                                                    </ul>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-desktop"></i> Computer</a>
                                    <div class="wrap-popup">
                                        <div class="popup">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-6">
                                                    <a href="#">
                                                        <h3>External Hard Disk</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Seagate Backup Plus</span></a> </li>
                                                        <li> <a href="grid.html"><span>Sata Firewire</span></a> </li>
                                                        <li> <a href="grid.html"><span>TB External Hard Disk</span></a> </li>
                                                        <li> <a href="grid.html"><span>Solid State Disk</span></a> </li>
                                                    </ul>
                                                    <br>
                                                    <a href="#">
                                                        <h3>Pendrives</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Keychain USB Flash</span></a> </li>
                                                        <li> <a href="grid.html"><span>Wristband Flash Drive</span></a> </li>
                                                        <li> <a href="grid.html"><span>Dummy Head Drive</span></a> </li>
                                                        <li> <a href="grid.html"><span>Hybrid Dual Drive</span></a> </li>
                                                    </ul>
                                                    <br>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <a href="#">
                                                        <h3>Headphones</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Cushioned Earcups </span></a> </li>
                                                        <li> <a href="grid.html"><span>Earbuds Headphones</span></a> </li>
                                                        <li> <a href="grid.html"><span>In-ear Headphones</span></a> </li>
                                                        <li> <a href="grid.html"><span>Over-the-Ear Headphones</span></a> </li>
                                                    </ul>
                                                    <br>
                                                    <a href="#">
                                                        <h3>PC Components</h3>
                                                    </a>
                                                    <ul class="nav">
                                                        <li> <a href="grid.html"><span>Submenu 1</span></a> </li>
                                                        <li> <a href="grid.html"><span>Submenu 2</span></a> </li>
                                                        <li> <a href="grid.html"><span>Submenu 3</span></a> </li>
                                                        <li> <a href="grid.html"><span>Submenu 4</span></a> </li>
                                                    </ul>
                                                    <br>
                                                </div>
                                                <div class="col-md-4 has-sep hidden-sm">
                                                    <div class="custom-menu-right">
                                                        <div class="box-banner media">
                                                            <div class="add-right"><a href="#"><img alt="menu image" src="~/Themes/Vitara/Content/images/menu-img5.jpg"></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>*@

                                @if (Model.DisplayContactUsMenuItem)
                                {
                                    <li class="nosub"> <a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a> </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-5 col-sm-5 col-xs-3 hidden-xs category-search-form">
                <div class="search-box">
                    @await Component.InvokeAsync("SearchBox")
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 card_wishlist_area">
                <div class="mm-toggle-wrap">
                    <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">@T("Menu")</span> </div>
                </div>
                <div class="top-cart-contain">
                    <!-- Top Cart -->
                    <div class="mini-cart">
                        @await Component.InvokeAsync("FlyoutShoppingCart")
                    </div>
                    <!-- Top Cart -->

                </div>
                <!-- mgk wishlist -->
                <div class="mgk-wishlist"><a title="My Wishlist" href="@Url.RouteUrl("Wishlist")"><i class="fa fa-heart"></i><span class="title-wishlist hidden-xs">@T("Wishlist")</span></a></div>
            </div>
        </div>
    </div>
</nav>



<!-- mobile menu -->
<div id="mobile-menu">
    <ul class="mobile-menu">
        <li>
            <div class="mm-search">
                @await Component.InvokeAsync("SearchBox")
            </div>
            <!--mm-search-->

        </li>
        @if (Model.DisplayHomePageMenuItem)
        {
            <li>

                <a href="@Url.RouteUrl("HomePage")"><i class="fa fa-home"></i> @T("HomePage")</a>

            </li>
        }
        <li>
            <a href="#">Pages</a>
            <ul>
                <li><a href="grid.html">Grid</a> </li>
                <li><a href="list.html">List</a> </li>
                <li><a href="product_detail.html">Product Detail</a> </li>
                <li><a href="shopping_cart.html">Shopping Cart</a> </li>
                <li><a href="checkout.html">Checkout</a> </li>
                <li><a href="wishlist.html">Wishlist</a> </li>
                <li><a href="dashboard.html">Dashboard</a> </li>
                <li><a href="multiple_addresses.html">Multiple Addresses</a> </li>
                <li><a href="about_us.html">About us</a> </li>
                <li>
                    <a href="blog.html">Blog</a>
                    <ul>
                        <li><a href="blog-detail.html">Blog Detail</a> </li>
                    </ul>
                </li>
                <li><a href="contact_us.html">Contact us</a> </li>
                <li><a href="404error.html">404 Error Page</a> </li>
            </ul>
        </li>
        <li class="level0 nav-1 level-top first parent">
            <a href="grid.html"> <span>Mobiles</span> </a>
            <ul>
                <li>
                    <a href="grid.html"> <span>Samsung</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Smartphones</span> </a> </li>
                        <li><a href="grid.html"> <span>Android Mobiles</span> </a> </li>
                        <li><a href="grid.html"> <span>Tablets</span> </a> </li>
                        <li><a href="grid.html"> <span>Wearable Mobiles</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Nokia</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Windows Mobiles</span> </a> </li>
                        <li><a href="grid.html"> <span>Landline Phone</span> </a> </li>
                        <li><a href="grid.html"> <span>Ipad</span> </a> </li>
                        <li><a href="grid.html"> <span>Refurbished</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>iPhone</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Apple 7S</span> </a> </li>
                        <li><a href="grid.html"> <span>Apple 5 Series </span> </a> </li>
                        <li><a href="grid.html"> <span>Apple 6S</span> </a> </li>
                        <li><a href="grid.html"> <span>Apple 4R</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Sony</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Xperia</span> </a> </li>
                        <li><a href="grid.html"> <span>Ultra Dual</span> </a> </li>
                        <li><a href="grid.html"> <span>X Performance</span> </a> </li>
                        <li><a href="grid.html"> <span>Premium Compact Z5</span> </a> </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="grid.html"> <span>Accesories</span> </a>
            <ul>
                <li>
                    <a href="grid.html"> <span>Mobile Memory</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Volatile Memory</span> </a> </li>
                        <li><a href="grid.html"> <span>Non-Volatile Memory</span> </a> </li>
                        <li><a href="grid.html"> <span>MicroSD</span> </a> </li>
                        <li><a href="grid.html"> <span> Mini SD Memory</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Cases &amp; covers</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Transparent Silicone</span> </a> </li>
                        <li><a href="grid.html"> <span>Plastic Back Cover</span> </a> </li>
                        <li><a href="grid.html"> <span>Rugged Cases</span> </a> </li>
                        <li><a href="grid.html"> <span>Hybrid Back Cover</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Mobile Headphones</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Jack Headsfree</span> </a> </li>
                        <li><a href="grid.html"> <span>Premuim Quality</span> </a> </li>
                        <li><a href="grid.html"> <span>Infographic</span> </a> </li>
                        <li><a href="grid.html"> <span>Cushioned Earcups</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Bluetooth Headsets</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Plantronics BackBeat</span> </a> </li>
                        <li><a href="grid.html"> <span>Air-Fi Runaway</span> </a> </li>
                        <li><a href="grid.html"> <span>Jabra Motion</span> </a> </li>
                        <li><a href="grid.html"> <span>Jawbone Era</span> </a> </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="grid.html"> <span>Appliances</span> </a> </li>
        <li>
            <a href="grid.html"> <span>Cameras</span> </a>
            <ul>
                <li>
                    <a href="grid.html"> <span>Camcorders</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Flash Memory</span> </a> </li>
                        <li><a href="grid.html"> <span>Filmmaking</span> </a> </li>
                        <li><a href="grid.html"> <span>Combo Models</span> </a> </li>
                        <li><a href="grid.html"> <span>Mini-DV Camcorders</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Point &amp; Shoot</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Bridge Compact</span> </a> </li>
                        <li><a href="grid.html"> <span>Nikon CoolPix</span> </a> </li>
                        <li><a href="grid.html"> <span>Sony Alpha</span> </a> </li>
                        <li><a href="grid.html"> <span>Canon Digital</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Digital SLR</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Nikon D810</span> </a> </li>
                        <li><a href="grid.html"> <span>Canon EOS</span> </a> </li>
                        <li><a href="grid.html"> <span>Cropped Sensor</span> </a> </li>
                        <li><a href="grid.html"> <span>Full-Frame Sensor</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Lens</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Photochromic</span> </a> </li>
                        <li><a href="grid.html"> <span>Polarized Sunglasses</span> </a> </li>
                        <li><a href="grid.html"> <span>Polycarbonate</span> </a> </li>
                        <li><a href="grid.html"> <span>Aspheric</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Projectors</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>LCD Projection</span> </a> </li>
                        <li><a href="grid.html"> <span>Laser Projector</span> </a> </li>
                        <li><a href="grid.html"> <span>Digital</span> </a> </li>
                        <li><a href="grid.html"> <span>Portable</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Binoculars</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Roof Prism</span> </a> </li>
                        <li><a href="grid.html"> <span>Porro Prism</span> </a> </li>
                        <li><a href="grid.html"> <span>Astronomical Binoculars</span> </a> </li>
                        <li><a href="grid.html"> <span>Celestron SkyMaster</span> </a> </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="grid.html"> <span>Computer</span> </a>
            <ul>
                <li>
                    <a href="grid.html"> <span>External Hard Disk</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Seagate Backup Plus</span> </a> </li>
                        <li><a href="grid.html"> <span>Sata Firewire</span> </a> </li>
                        <li><a href="grid.html"> <span>TB External Hard Disk</span> </a> </li>
                        <li><a href="grid.html"> <span>Solid State Disk</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Pendrives</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Keychain USB Flash</span> </a> </li>
                        <li><a href="grid.html"> <span>Wristband Flash Drive</span> </a> </li>
                        <li><a href="grid.html"> <span>Dummy Head Drive</span> </a> </li>
                        <li><a href="grid.html"> <span>Hybrid Dual Drive</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>Headphones</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Cushioned Earcups </span> </a> </li>
                        <li><a href="grid.html"> <span>Earbuds Headphones</span> </a> </li>
                        <li><a href="grid.html"> <span>In-ear Headphones</span> </a> </li>
                        <li><a href="grid.html"> <span>Over-the-Ear Headphones</span> </a> </li>
                    </ul>
                </li>
                <li>
                    <a href="grid.html"> <span>PC Components</span> </a>
                    <ul>
                        <li><a href="grid.html"> <span>Submenu 1</span> </a> </li>
                        <li><a href="grid.html"> <span>Submenu 2</span> </a> </li>
                        <li><a href="grid.html"> <span>Submenu 3</span> </a> </li>
                        <li><a href="grid.html"> <span>Submenu 4</span> </a> </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="grid.html"> <span>TV &amp; Audio</span> </a> </li>
        <li><a href="grid.html"> <span>Software</span> </a> </li>
        <li><a href="grid.html"> <span>Printer &amp; Enk</span> </a> </li>
    </ul>
    <div class="top-links">
        <div class="lang-curr">
            <div class="dropdown block-language-wrapper">
                <a href="#" class="block-language dropdown-toggle" data-toggle="dropdown" role="button"> <img src="~/Themes/Vitara/Content/images/english.png" alt="english"> English <span class="caret"></span> </a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#"> <img src="~/Themes/Vitara/Content/images/english.png" alt="English"> English </a></li>
                    <li><a href="#"> <img src="~/Themes/Vitara/Content/images/francais.png" alt="French"> French </a></li>
                    <li><a href="#"> <img src="~/Themes/Vitara/Content/images/german.png" alt="German"> German </a></li>
                </ul>
            </div>
            <!--dropdown block-language-wrapper-->

            <div class="dropdown block-currency-wrapper">
                <a href="#" class="block-currency dropdown-toggle" data-toggle="dropdown" role="button"> USD <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li role="presentation"><a href="#" tabindex="-1" role="menuitem" title="EGP"> £ - EGP</a></li>
                    <li role="presentation"><a href="#" tabindex="-1" role="menuitem" title="EUR"> € - EUR</a></li>
                    <li role="presentation"><a href="#" tabindex="-1" role="menuitem" title="USD"> $ - USD</a></li>
                </ul>
            </div>
        </div>
        <!--lang-curr-->
        <ul class="links">
            <li><a href="login.html" title="My Account">My Account</a></li>
            <li><a href="wishlist.html" title="Wishlist">Wishlist</a></li>
            <li><a href="checkout.html" title="Checkout">Checkout</a></li>
            <li><a href="blog.html" title="Blog"><span>Blog</span></a></li>
            <li class="last"><a href="login.html" title="Log In"><span>Log In</span></a></li>
        </ul>
    </div>
</div>

@*<ul class="top-menu">
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_menu_before" })
        @if (Model.DisplayHomePageMenuItem)
        {
            <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
        }
        @{
            var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
        }
        @foreach (var category in rootCategories)
        {
            var categoryLineModel = new TopMenuModel.CategoryLineModel
            {
                Category = category
            };
            @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
        }
        @foreach (var topic in Model.Topics)
        {
            <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
        }
        @if (Model.NewProductsEnabled && Model.DisplayNewProductsMenuItem)
        {
            <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
        }
        @if (Model.DisplayProductSearchMenuItem)
        {
            <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
        }
        @if (Model.DisplayCustomerInfoMenuItem)
        {
            <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
        }
        @if (Model.BlogEnabled && Model.DisplayBlogMenuItem)
        {
            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
        }
        @if (Model.ForumEnabled && Model.DisplayForumsMenuItem)
        {
            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
        }
        @if (Model.DisplayContactUsMenuItem)
        {
            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_menu_after" })
    </ul>
    @{
        var rootCategoriesResponsive = Model.Categories.ToList();
        //name it "Categories" if we have only categories. Otherwise, "Menu"
        var responsiveMenuTitle = Model.HasOnlyCategories ? T("Categories") : T("Menu");
        <div class="menu-toggle">@responsiveMenuTitle</div>
        <ul class="top-menu mobile">
            @await Component.InvokeAsync("Widget", new { widgetZone = "mob_header_menu_before" })
            @if (Model.DisplayHomePageMenuItem)
            {
                <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
            }
            @foreach (var category in rootCategoriesResponsive)
            {
                var categoryLineModel = new TopMenuModel.CategoryLineModel
                {
                    Category = category,
                    ResponsiveMobileMenu = true
                };
                @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
            }
            @foreach (var topic in Model.Topics)
            {
                <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
            }
            @if (Model.NewProductsEnabled && Model.DisplayNewProductsMenuItem)
            {
                <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
            }
            @if (Model.DisplayProductSearchMenuItem)
            {
                <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
            }
            @if (Model.DisplayCustomerInfoMenuItem)
            {
                <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
            }
            @if (Model.BlogEnabled && Model.DisplayBlogMenuItem)
            {
                <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
            }
            @if (Model.ForumEnabled && Model.DisplayForumsMenuItem)
            {
                <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
            }
            @if (Model.DisplayContactUsMenuItem)
            {
                <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "mob_header_menu_after" })
        </ul>
        <script type="text/javascript" asp-location="Footer">
            $(document).ready(function () {
                $('.menu-toggle').click(function () {
                    $(this).siblings('.top-menu.mobile').slideToggle('slow');
                });
                $('.top-menu.mobile .sublist-toggle').click(function () {
                    $(this).siblings('.sublist').slideToggle('slow');
                });
            });
        </script>
    }*@
