@model SearchBoxModel
@using System.Text.Encodings.Web
<form asp-route="ProductSearch" method="get" id="small-search-box-form">
    @*search-box-text*@
    @*id="search"*@
    <input type="text" class="searchbox" id="search" maxlength="128" autocomplete="off" name="q" placeholder="@T("Search.SearchBox.Tooltip")" />
    @await Component.InvokeAsync("Widget", new { widgetZone = "searchbox_before_search_button" })
    @*button-1 search-box-button*@
    <input type="submit" class="search-btn-bg" value="@T("Search.Button")" />
    @if (Model.SearchTermMinimumLength > 0)
    {
        <script type="text/javascript" asp-location="Footer">
            $("#small-search-box-form").submit(function(event) {
                if ($("#search").val() == "") {
                    alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Search.EnterSearchTerms").Text))');
                    $("#search").focus();
                    event.preventDefault();
                }
            });
        </script>
    }
    @if (Model.AutoCompleteEnabled)
    {
        <script type="text/javascript" asp-location="Footer">
            $(document).ready(function() {
                $('#search').autocomplete({
                        delay: 500,
                        minLength: @(Model.SearchTermMinimumLength.ToString()),
                        source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                        appendTo: '.search-box',
                        select: function(event, ui) {
                            $("#search").val(ui.item.label);
                            setLocation(ui.item.producturl);
                            return false;
                        }
                    })
                    .data("ui-autocomplete")._renderItem = function(ul, item) {
                        var t = item.label;
                        //html encode
                        t = htmlEncode(t);
                        return $("<li></li>")
                            .data("item.autocomplete", item)
                            .append("<a>@(Model.ShowProductImagesInSearchAutoComplete ? Html.Raw("<img src='\" + item.productpictureurl + \"'>") : null)<span>" + t + "</span></a>")
                            .appendTo(ul);
                    };
            });
        </script>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "searchbox" })
</form>

        @*<select name="cat" id="cat" class="cate-dropdown hidden-sm hidden-md">
            <option>All Categories</option>
            <option value="1014">Electronics</option>
            <option value="1035">Furniture</option>
            <option value="1051">Boys</option>
            <option value="1052">Girls</option>
            <option value="1053">Bags</option>
            <option value="1054">Shoes</option>
            <option value="962">Women</option>
            <option value="988">Men</option>
        </select>*@

