@model IList<CategoryModel>
@*@if (Model.Count > 0)
{
    <div class="category-grid home-page-category-grid">
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    <div class="category-item">
                        <h2 class="title">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                @item.Name
                            </a>
                        </h2>
                        <div class="picture">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}*@

@if (Model.Count > 0 && Model.Select(z => z.Products).Any())
{
    <div class="content-page">
        <div class="container">
            <!-- featured category -->
            <div class="category-product">
                <div class="navbar nav-menu">
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <div class="new_title">
                                    <h2>@T("homepage.newproducts")</h2>
                                </div>
                            </li>
                            @{
                                int j = 0;
                                foreach (var item in Model)
                                {
                                    if (!item.Products.Any())
                                    {
                                        continue;
                                    }
                                    @*<div class="item-box">
                                            <div class="category-item">
                                                <h2 class="title">
                                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                                        @item.Name
                                                    </a>
                                                </h2>
                                                <div class="picture">
                                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                                        <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>*@
                                    <li class="@(j==0?"active":"")"><a data-toggle="tab" href="#tab-@item.Id">@item.Name</a> </li>
                                    j++;
                                }
                            }
                            @*<li class="active"><a data-toggle="tab" href="#tab-1">Mobiles</a> </li>
                                <li><a data-toggle="tab" href="#tab-2">Cameras</a> </li>
                                <li><a data-toggle="tab" href="#tab-3">Computer</a> </li>
                                <li><a data-toggle="tab" href="#tab-4">TV & Audio</a> </li>
                                <li><a data-toggle="tab" href="#tab-5">Accessories</a> </li>*@
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->

                </div>
                <div class="product-bestseller">
                    <div class="product-bestseller-content">
                        <div class="product-bestseller-list">
                            <div class="tab-container">
                                @{
                                    int i = 0;
                                    foreach (var item in Model)
                                    {
                                        if (!item.Products.Any())
                                        {
                                            continue;
                                        }
                                        <!-- tab product -->
                                        <div class="tab-panel @(i==0 ?"active":"")" id="tab-@item.Id">
                                            <div class="products-grid category-products for-slider slider-items slider-items-products block-content owl-carousel owl-theme">
                                                @*<ul class="products-grid">*@
                                                @foreach (var prod in item.Products)
                                                {
                                                    @await Html.PartialAsync("_ProductBoxSlider", prod)
                                                    @*<li class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                                            @await Html.PartialAsync("_ProductBox", prod)
                                                        </li>*@
                                                }

                                                @*</ul>*@
                                            </div>
                                        </div>
                                        <!-- tab product -->
                                        i++;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@*<li class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="item-inner">
            <div class="item-img">
                <div class="item-img-info">
                    <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img alt="Retis lapen casen" src="products-images/product2.jpg"> </a>
                    <div class="box-hover">
                        <ul class="add-to-links">
                            <li><a class="link-quickview" href="quick_view.html">Quick View</a> </li>
                            <li><a class="link-wishlist" href="wishlist.html">Wishlist</a> </li>
                            <li><a class="link-compare" href="compare.html">Compare</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item-info">
                <div class="info-inner">
                    <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html"> Retis lapen casen </a> </div>
                    <div class="item-content">
                        <div class="rating">
                            <div class="ratings">
                                <div class="rating-box">
                                    <div style="width:80%" class="rating"></div>
                                </div>
                                <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                            </div>
                        </div>
                        <div class="item-price">
                            <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                        </div>
                        <div class="action">
                            <button class="button btn-cart" type="button" title="" data-original-title="Add to Cart"><span>Add to Cart</span> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>*@